In [2]:
import pandas as pd

In [3]:
background_df = pd.read_csv("./Resources/permits2021-2019.csv")
background_df

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,Year
0,2021-12,Alabama,27674.0,281.0,30428.0,26932.0,1875.0,1498,2021
1,2021-12,Alaska,41.0,29.0,3448.0,3216.0,481.0,220,2021
2,2021-12,Arizona,3106.0,485.0,25636.0,13507.0,2135.0,1363,2021
3,2021-12,Arkansas,2197.0,450.0,11633.0,11675.0,717.0,542,2021
4,2021-12,California,15528.0,11409.0,46627.0,31488.0,5894.0,0,2021
...,...,...,...,...,...,...,...,...,...
1975,2019-01,Virginia,1061.0,118.0,20600.0,12813.0,3209.0,0,2019
1976,2019-01,Washington,18889.0,53.0,17487.0,10889.0,3622.0,863,2019
1977,2019-01,West Virginia,2438.0,0.0,5355.0,4964.0,379.0,382,2019
1978,2019-01,Wisconsin,11124.0,300.0,12204.0,9154.0,1310.0,43,2019
1979,2019-01,Wyoming,357.0,11.0,1530.0,1621.0,175.0,99,2019

In [4]:
pay_df = pd.read_csv("./Resources/avg_pay_2019_2021.csv")
pay_df

   avg pay 2020 avg pay 2021 avg pay 2019              location
0        71,186       72,808       72,808     The United States
1        57,243       59,558       59,558               Alabama
2        78,236       83,079       83,079                Alaska
3        70,220       74,897       74,897               Arizona
4        53,148       57,799       57,799              Arkansas
5        81,278       82,772       82,772            California
6        87,689       76,832       76,832              Colorado
7        83,141       92,507       92,507           Connecticut
8        73,292       78,628       78,628              Delaware
9        92,337       98,675       98,675  District of Columbia
10       60,460       61,856       61,856               Florida
11       62,033       60,012       60,012               Georgia
12       84,600       93,265       93,265                Hawaii
13       69,841       69,932       69,932                 Idaho
14       77,805       78,845       78,845              Illinois
15       69,925       70,679       70,679               Indiana
16       72,030       70,002       70,002                  Iowa
17       76,495       77,523       77,523                Kansas
18       59,405       58,989       58,989              Kentucky
19       53,576       54,797       54,797             Louisiana
20       66,667       70,523       70,523                 Maine
21       99,215      101,283      101,283              Maryland
22       91,912       92,949       92,949         Massachusetts
23       67,399       67,951       67,951              Michigan
24       82,431       86,292       86,292             Minnesota
25       47,242       47,463       47,463           Mississippi
26       65,081       64,218       64,218              Missouri
27       59,390       63,792       63,792               Montana
28       75,622       77,437       77,437              Nebraska
29       64,020       75,143       75,143                Nevada
30       93,045       92,093       92,093         New Hampshire
31       89,543       92,969       92,969            New Jersey
32       53,283       56,287       56,287            New Mexico
33       71,865       76,149       76,149              New York
34       63,252       64,814       64,814        North Carolina
35       67,109       74,216       74,216          North Dakota
36       63,198       68,527       68,527                  Ohio
37       54,921       62,946       62,946              Oklahoma
38       80,443       78,860       78,860                Oregon
39       74,094       74,800       74,800          Pennsylvania
40       83,918       74,344       74,344          Rhode Island
41       63,159       65,735       65,735        South Carolina
42       73,467       68,095       68,095          South Dakota
43       57,542       60,011       60,011             Tennessee
44       71,599       71,474       71,474                 Texas
45       87,915       89,574       89,574                  Utah
46       70,398       78,746       78,746               Vermont
47       86,053       86,172       86,172              Virginia
48       85,157       87,381       87,381            Washington
49       54,396       56,916       56,916         West Virginia
50       70,553       71,380       71,380             Wisconsin
51       68,506       69,027       69,027               Wyoming

In [5]:
pay_df = pay_df.rename(columns={'location':'state'})

In [6]:
df_pay_2019 = pay_df.drop(['avg pay 2021', 'avg pay 2020'], axis=1)
df_pay_2019 = df_pay_2019.rename(columns={'avg pay 2019':'avg pay'})
df_pay_2019

    avg pay                 state
0    72,808     The United States
1    59,558               Alabama
2    83,079                Alaska
3    74,897               Arizona
4    57,799              Arkansas
5    82,772            California
6    76,832              Colorado
7    92,507           Connecticut
8    78,628              Delaware
9    98,675  District of Columbia
10   61,856               Florida
11   60,012               Georgia
12   93,265                Hawaii
13   69,932                 Idaho
14   78,845              Illinois
15   70,679               Indiana
16   70,002                  Iowa
17   77,523                Kansas
18   58,989              Kentucky
19   54,797             Louisiana
20   70,523                 Maine
21  101,283              Maryland
22   92,949         Massachusetts
23   67,951              Michigan
24   86,292             Minnesota
25   47,463           Mississippi
26   64,218              Missouri
27   63,792               Montana
28   77,437              Nebraska
29   75,143                Nevada
30   92,093         New Hampshire
31   92,969            New Jersey
32   56,287            New Mexico
33   76,149              New York
34   64,814        North Carolina
35   74,216          North Dakota
36   68,527                  Ohio
37   62,946              Oklahoma
38   78,860                Oregon
39   74,800          Pennsylvania
40   74,344          Rhode Island
41   65,735        South Carolina
42   68,095          South Dakota
43   60,011             Tennessee
44   71,474                 Texas
45   89,574                  Utah
46   78,746               Vermont
47   86,172              Virginia
48   87,381            Washington
49   56,916         West Virginia
50   71,380             Wisconsin
51   69,027               Wyoming

In [7]:
df_pay_2019['Year'] = 2019
df_pay_2019

    avg pay                 state  Year
0    72,808     The United States  2019
1    59,558               Alabama  2019
2    83,079                Alaska  2019
3    74,897               Arizona  2019
4    57,799              Arkansas  2019
5    82,772            California  2019
6    76,832              Colorado  2019
7    92,507           Connecticut  2019
8    78,628              Delaware  2019
9    98,675  District of Columbia  2019
10   61,856               Florida  2019
11   60,012               Georgia  2019
12   93,265                Hawaii  2019
13   69,932                 Idaho  2019
14   78,845              Illinois  2019
15   70,679               Indiana  2019
16   70,002                  Iowa  2019
17   77,523                Kansas  2019
18   58,989              Kentucky  2019
19   54,797             Louisiana  2019
20   70,523                 Maine  2019
21  101,283              Maryland  2019
22   92,949         Massachusetts  2019
23   67,951              Michigan  2019
24   86,292             Minnesota  2019
25   47,463           Mississippi  2019
26   64,218              Missouri  2019
27   63,792               Montana  2019
28   77,437              Nebraska  2019
29   75,143                Nevada  2019
30   92,093         New Hampshire  2019
31   92,969            New Jersey  2019
32   56,287            New Mexico  2019
33   76,149              New York  2019
34   64,814        North Carolina  2019
35   74,216          North Dakota  2019
36   68,527                  Ohio  2019
37   62,946              Oklahoma  2019
38   78,860                Oregon  2019
39   74,800          Pennsylvania  2019
40   74,344          Rhode Island  2019
41   65,735        South Carolina  2019
42   68,095          South Dakota  2019
43   60,011             Tennessee  2019
44   71,474                 Texas  2019
45   89,574                  Utah  2019
46   78,746               Vermont  2019
47   86,172              Virginia  2019
48   87,381            Washington  2019
49   56,916         West Virginia  2019
50   71,380             Wisconsin  2019
51   69,027               Wyoming  2019

In [8]:
df_pay_2020 = pay_df.drop(['avg pay 2021', 'avg pay 2019'], axis=1)
df_pay_2020 = df_pay_2020.rename(columns={'avg pay 2020':'avg pay'})
df_pay_2020.head()

  avg pay              state
0  71,186  The United States
1  57,243            Alabama
2  78,236             Alaska
3  70,220            Arizona
4  53,148           Arkansas

In [15]:
df_pay_2020['Year'] = 2020
df_pay_2020.head()

  avg pay              state  Year
0  71,186  The United States  2020
1  57,243            Alabama  2020
2  78,236             Alaska  2020
3  70,220            Arizona  2020
4  53,148           Arkansas  2020

In [10]:
df_pay_2021 = pay_df.drop(['avg pay 2020', 'avg pay 2019'], axis=1)
df_pay_2021 = df_pay_2021.rename(columns={'avg pay 2021':'avg pay'})
df_pay_2021

    avg pay                 state
0    72,808     The United States
1    59,558               Alabama
2    83,079                Alaska
3    74,897               Arizona
4    57,799              Arkansas
5    82,772            California
6    76,832              Colorado
7    92,507           Connecticut
8    78,628              Delaware
9    98,675  District of Columbia
10   61,856               Florida
11   60,012               Georgia
12   93,265                Hawaii
13   69,932                 Idaho
14   78,845              Illinois
15   70,679               Indiana
16   70,002                  Iowa
17   77,523                Kansas
18   58,989              Kentucky
19   54,797             Louisiana
20   70,523                 Maine
21  101,283              Maryland
22   92,949         Massachusetts
23   67,951              Michigan
24   86,292             Minnesota
25   47,463           Mississippi
26   64,218              Missouri
27   63,792               Montana
28   77,437              Nebraska
29   75,143                Nevada
30   92,093         New Hampshire
31   92,969            New Jersey
32   56,287            New Mexico
33   76,149              New York
34   64,814        North Carolina
35   74,216          North Dakota
36   68,527                  Ohio
37   62,946              Oklahoma
38   78,860                Oregon
39   74,800          Pennsylvania
40   74,344          Rhode Island
41   65,735        South Carolina
42   68,095          South Dakota
43   60,011             Tennessee
44   71,474                 Texas
45   89,574                  Utah
46   78,746               Vermont
47   86,172              Virginia
48   87,381            Washington
49   56,916         West Virginia
50   71,380             Wisconsin
51   69,027               Wyoming

In [11]:
df_pay_2021['Year'] = 2021
df_pay_2021

    avg pay                 state  Year
0    72,808     The United States  2021
1    59,558               Alabama  2021
2    83,079                Alaska  2021
3    74,897               Arizona  2021
4    57,799              Arkansas  2021
5    82,772            California  2021
6    76,832              Colorado  2021
7    92,507           Connecticut  2021
8    78,628              Delaware  2021
9    98,675  District of Columbia  2021
10   61,856               Florida  2021
11   60,012               Georgia  2021
12   93,265                Hawaii  2021
13   69,932                 Idaho  2021
14   78,845              Illinois  2021
15   70,679               Indiana  2021
16   70,002                  Iowa  2021
17   77,523                Kansas  2021
18   58,989              Kentucky  2021
19   54,797             Louisiana  2021
20   70,523                 Maine  2021
21  101,283              Maryland  2021
22   92,949         Massachusetts  2021
23   67,951              Michigan  2021
24   86,292             Minnesota  2021
25   47,463           Mississippi  2021
26   64,218              Missouri  2021
27   63,792               Montana  2021
28   77,437              Nebraska  2021
29   75,143                Nevada  2021
30   92,093         New Hampshire  2021
31   92,969            New Jersey  2021
32   56,287            New Mexico  2021
33   76,149              New York  2021
34   64,814        North Carolina  2021
35   74,216          North Dakota  2021
36   68,527                  Ohio  2021
37   62,946              Oklahoma  2021
38   78,860                Oregon  2021
39   74,800          Pennsylvania  2021
40   74,344          Rhode Island  2021
41   65,735        South Carolina  2021
42   68,095          South Dakota  2021
43   60,011             Tennessee  2021
44   71,474                 Texas  2021
45   89,574                  Utah  2021
46   78,746               Vermont  2021
47   86,172              Virginia  2021
48   87,381            Washington  2021
49   56,916         West Virginia  2021
50   71,380             Wisconsin  2021
51   69,027               Wyoming  2021

In [12]:
df_pay_con = pd.concat([df_pay_2021, df_pay_2020, df_pay_2019], ignore_index=True, axis=0)
df_pay_con

    avg pay              state  Year
0    72,808  The United States  2021
1    59,558            Alabama  2021
2    83,079             Alaska  2021
3    74,897            Arizona  2021
4    57,799           Arkansas  2021
..      ...                ...   ...
151  86,172           Virginia  2019
152  87,381         Washington  2019
153  56,916      West Virginia  2019
154  71,380          Wisconsin  2019
155  69,027            Wyoming  2019

[156 rows x 3 columns]

In [13]:
merged_df = background_df.merge(df_pay_con, on=["state", "Year"])
merged_df

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,Year,avg pay
0,2021-12,Alabama,27674.0,281.0,30428.0,26932.0,1875.0,1498,2021,"59,558"
1,2021-11,Alabama,24489.0,229.0,22126.0,21230.0,1319.0,1265,2021,"59,558"
2,2021-10,Alabama,25822.0,258.0,19188.0,15531.0,1309.0,956,2021,"59,558"
3,2021-09,Alabama,26657.0,423.0,18034.0,15390.0,1365.0,912,2021,"59,558"
4,2021-08,Alabama,26984.0,404.0,18820.0,14786.0,1380.0,886,2021,"59,558"
...,...,...,...,...,...,...,...,...,...,...
1831,2019-05,Wyoming,639.0,2.0,1740.0,1828.0,150.0,108,2019,"69,027"
1832,2019-04,Wyoming,459.0,14.0,1888.0,1906.0,153.0,136,2019,"69,027"
1833,2019-03,Wyoming,338.0,9.0,2497.0,2314.0,199.0,138,2019,"69,027"
1834,2019-02,Wyoming,439.0,11.0,1900.0,1791.0,168.0,118,2019,"69,027"
1835,2019-01,Wyoming,357.0,11.0,1530.0,1621.0,175.0,99,2019,"69,027"

In [14]:
merged_df.to_csv('Resources/permits_pay_2021-2019.csv', index=False)